<div class="secondary-nav-menu">
	<a href="/">THE FERGLEY WEDDING</a> • <a href="event.html">Basics</a> • <a href="venue.html">Venue</a> • <a href="lodging.html">Lodging</a> • <a href="transportation.html">Getting Around</a> • <a href="boston.html">Boston</a> • <a href="registry.html">Registry</a> • <a href="faq.html">FAQ</a> • <a href="contact.html">Contact</a></div>
{% if include.photo-url != nil %}
	<img class="main-photo" src="{{ include.photo-url }}"
	    {%if include.photo-alt != nil %}alt="{{ include.photo-alt }}"{% endif %}
	    {%if include.photo-title != nil %}title="{{ include.photo-title }}"{% endif %}
	/>
{% endif %}
<div class="secondary-page-title">{{ include.page-title }}</div>
