<div class="secondary-nav-menu">
	<a href="/">The Fergley Wedding</a> • <a href="event.html">BASICS</a> • <a href="venue.html">VENUE</a> • <a href="lodging.html">LODGING</a> • <a href="transportation.html">GETTING AROUND</a> • <a href="boston.html">BOSTON</a> • <a href="registry.html">REGISTRY</a> • <a href="faq.html">FAQ</a> • <a href="contact.html">CONTACT</a></div>
{% if include.photo-url != nil %}
	<img class="main-photo" src="{{ include.photo-url }}"
	    {%if include.photo-alt != nil %}alt="{{ include.photo-alt }}"{% endif %}
	    {%if include.photo-title != nil %}title="{{ include.photo-title }}"{% endif %}
	/>
{% endif %}
<div class="secondary-page-title">{{ include.page-title }}</div>
