// --- Variables ---

$base-font-size: 100%;
$color-bg: #20AB00;   // theme green

// --- Custom fonts ---

@font-face {
    font-family: gorey;
    src: url(fonts/Gorey.ttf);
}

@font-face {
    font-family: "doves type pro";
    src: url(fonts/DovesTypPro.otf);
}

@font-face {
    font-family: "doves type pro";
    src: url(fonts/DovesTypPro-Italic.otf);
    font-style: oblique;
}

@font-face {
    font-family: "doves type pro";
    src: url(fonts/DovesTypPro-Italic.otf);
    font-style: italic;
}


// --- Basic shared formatting ---

html {
    font-family: "doves type pro";
    font-size: $base-font-size;
    font-variant-numeric: oldstyle-nums;
}

body {
    max-width: 1000px;
    margin: 1em 1em 10em 1em;
}

h1 {
    font-family: gorey;
    font-size: 200%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h2 {
    font-family: gorey;
    font-size: 150%;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    line-height: 1.25;
    font-size: 140%;
}

p + p {
    margin-top: 0.5em;
}

i {
    font-style: italic;
}

a {
    color: #208708;
}

img.frieze {
    height: 130px; 
    position: fixed; 
    left: 0%;
    bottom:0%;
}

.warning {
    font-weight: bold;
    border: 1px solid black;
    padding: 0.5em 1em;
    margin: 0.5em 0;
}

// Mobile adjustments

@media screen and (max-device-width: 736px) {
    html {
        font-size: 40px;
    }
}

// --- Home page ---

body.page-home {
    background-image: url("/assets/bg/home.png");
    background-repeat: repeat-x;

    .site-main-title {
        font-family: gorey;
        font-size: 280%;
        color: white;
    }

    .site-subtitle {
        font-family: gorey;
        font-size: 165%;
        color: white;
        line-height: 1.25;
    }

    .site-subtitle.desktop {
        margin-top: 0.5em;
        margin-bottom: 0.75em;
    }

    .site-subtitle.mobile {
        display: none;
    }

    .main-photo {
        float: right;
        width: 30em;
        border: 2px solid white;
        border-radius: 20px;
    }

    .main-photo.mobile {
        display: none;
    }

    .main-nav-menu {
        font-family: gorey;
        font-size: 190%;
        margin-top: 0.5em;
        margin-bottom: 1.5em;

        li {
            background: url('/assets/home-page-bullet-temporary.png') left center no-repeat;
            padding-left: 50px;
            height: 50px;
        }

        a {
            display: inline-block;
            margin-top: 0.5em;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .emailSignup {
        margin: 1em 0 1em 0;
        padding: 0.25em;
        border: 2px solid black;
        background-color: #bdc;

        .heading {
            font-family: gorey;
            font-size: 175%;
            font-weight: bold;
            text-align: center;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        .caption {
            font-family: "doves type pro";
            font-size: 150%;
            text-align: center;
            margin: 0 auto 1em auto;
            width: 80%;
        }

        .fields {
            margin-top: 0.5em;
            text-align: center;
        }

        label {
            display: block;
            font-size: 150%;
        }

        input[type='text'], input[type='email'] {
            display: block;
            width: 80%;
            margin: 0 auto 1em auto;
            font-family: "doves type pro";
            font-size: 150%;
            padding: 0.25em;
            border-radius: 0.25em;
        }

        input[type='button'] {
            font-size: 100%;
        }
    }

    #emailSignupResponse {
        font-size: 150%;
        text-align: center;
        margin: 1em auto 0 auto;
        width: 80%;
        height: 2em;
    }

    #emailSignupResponse.success {
        color: green;
    }

    #emailSignupResponse.failure {
        color: red;
    }
}

// Mobile adjustments

@media screen and (max-device-width: 736px) {

    body.page-home {
        background-size: 1px 600px;

        .site-main-title, .site-subtitle {
            font-size: 200%;
            text-align: center;
        }

        .main-photo.desktop {
            display: none;
        }

        .main-photo.mobile {
            display: block;
            float: none;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 1em;
            border-width: 5px;

        }

        .site-subtitle.mobile {
            display: block;
            font-size: 150%;
            margin-top: 1em;
            margin-bottom: 0.5em;
        }

        .site-subtitle.desktop {
            display: none;
        }

        .main-nav-menu {
            margin: 0 auto;
            text-align: center;
            font-size: 165%;

            li {
                height: 200%;
                padding-left: 0;
                background: transparent;
            }
        }

        .emailSignup .caption {
            width: 90%;
        }

        #emailSignupResponse {
            width: 100%;
        }
    }
}

// --- Secondary pages ---

body[class *= 'secondary'] {
    background-image: url("/assets/bg/secondary.png");
    background-repeat: repeat-x;

    .secondary-nav-menu {
        font-size: 110%;
        font-family: "gorey";
        color: white;
        margin-top: 1em;

        a {
            color: white;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    .secondary-page-title {
        font-family: "gorey";
        font-size: 200%;
        color: white;
        margin-top: 0.5em;
        margin-bottom: 1.25em;
    }

    .main-photo {
        float: right;
        width: 30em;
        border: 2px solid white;
        border-radius: 20px;
        margin: 1em 0 1em 1em;
    }
}

// Mobile adjustments

@media screen and (max-device-width: 736px) {

    body[class *= 'secondary'] {
        background-image: url("/assets/bg/secondary.png");   // FIXME - do this properly
        background-size: 1px 500px;

        .secondary-nav-menu {
            text-align: center;
            font-size: 120%;
            line-height: 1.5;
        }

        .main-photo {
            float: none;
            display: block;
            width: 90%;
            margin: 0.5em auto 1em auto;
            border: 5px solid white;
            border-radius: 20px;
        }

        .secondary-page-title {
            text-align: center;
            color: $color-bg;
            margin-top: 1em;
            margin-bottom: 0.5em;
        }
    }

}

// --- Special treatment for Event page ---

body[class *= 'page-event'] {

    p.address {
        font-family: gorey;
        font-size: 180%;
    }

    img.area-map {
        width: 100%;
        margin-top: 2em;
    }
}

// --- Special treatment for Lodging ---

body[class *= 'page-lodging'] {

    .hotel {
        font-size: 140%;
        margin-top: 2em;
        line-height: 1.5;

        .name {
            font-family: gorey;
            font-size: 140%;
            margin-bottom: 0.1em;
        }
        .address {
            font-size: 120%;
            line-height: 1.0;
        }
        .tel {
            font-size: 120%;
        }
        .cost {
            font-size: 100%;
        }
    }
}

// --- Special treatment for Registry ---

body[class *= 'page-registry'] {

    ul {
        margin-top: 1em;
        margin-left: 2em;

        li {        
            font-size: 150%;
            list-style-type: square;
            list-style-position: outside;
            padding-left: 0.5em;
            margin-bottom: 0.5em;
        }
    }

    .footnote {
        margin-top: 1em;
    }
}

// --- Special treatment for FAQs ---

body[class *= 'page-faq'] {

    .main-photo {
        border-color: #ccc;
    }

    .faq-q p {
        font-family: gorey;
        font-weight: bold;
        font-size: 150%;
        margin-bottom: 0.6em;
    }

    .faq + .faq {
        margin-top: 2em;
    }

    /* Insert Q. and A. before questions and answers */
    .faq-q p:before {
        content: "Q. ";
    }
    .faq-a p:first-child:before {
        content: "A. ";
    }

    img.embedded {
        max-width: 30em;
        max-height: 30em;
        margin: 2em auto;
        display: block;
    }
}

// Mobile adjustments

@media screen and (max-device-width: 736px) {

    body[class *= 'page-faq'] {
        img.embedded {
            width: 80%;
        }
    }
}

// --- Special treatment for Contact page

body[class *= 'page-contact'] {

    ul.contactEmail {
        margin-top: 1em;
        margin-bottom: 1em;
        li {
            font-size: 160%;
            list-style-type: square;
            list-style-position: inside;
        }
    }

    .tel {
        font-size: 110%;
        font-weight: bold;
    }
}
